.git
.github
.vs
.vscode

**/bin/
**/obj/
**/Debug/
**/Release/
**/TestResults/
**/coverage*
**/*.user
**/*.suo
**/*.rsuser
**/*.sln.docstates

db/sqlserver/log/
db/sqlserver/secrets/

README.md
LICENSE